.napis{
  font-size: 40px;
  color: black;
  font-weight: bolder;
  margin: 20px;
}

body{
  background-color: white;
  padding: 0px;
  margin: 0px;
}
img{
  padding: auto;
  margin: auto;
}

center{
  padding: 100px;
  margin: 9990px;
}
